importFrom(AnnotationDbi, as.list, Ontology, Term)
importFrom(openxlsx, write.xlsx, read.xlsx)
import(topGO, GO.db, RColorBrewer, lattice, gplots, methods, gtools)
exportClasses(GOTermsAnnDbBimap)
export(bs.trom)
export(heatmap.3)
export(find.top.GO.terms)
export(find.top.GO.slim.terms)
export(ws.trom.orthologs)
export(ws.trom)
export(select.associated.genes)
export(select.associated.orthologs)
export(choose.z)
